{% extends 'base.html' %} 
{% block content %}
<div class="home_anchor">
    <a class="home_otome" href="/">Otome</a>
    <a href="/">
        <img src="https://i.imgur.com/wLvK1sp.png" width="50" height="50">
     </a>
</div>
<div class="center_landing">
    <h2 id="Landing_header" >Find Your Player Two</h2>
    <a id="Sign_up_button" href="/Sign_up">Sign Up</a>
    <div class="links">
        <a class="ron-link" href="https://www.linkedin.com/in/ronnellvaldez/">
            <i class="fab fa-linkedin"></i>
        </a>
        <a class="ron-link" href="https://www.twitch.tv/a_wild_eggg">
        <i class="fab fa-twitch"></i>
        </a>
    </div>
</div>


<a class="Log_in_button" href="/Sign_up">Log In</a>


{% endblock %}