{% extends 'base.html' %} 
{% block content %}


<div class="profile_card" style="float: left; width: 30%" class="user_card">
    <h1 id="profile_name" ><a id="edit_icon" href="/accounts/edit_profile_page/"><i id="user_profile_page_edit" class="fas fa-user-edit"></i></a> {{user.first_name}} {{user.last_name}}</h1>
    <div class="user_info">
        {% if user.profile.discord %}
        <h1 id="discord">Discord: {{user.profile.discord}}</h1>
        {% endif %}
        <div class="userlinks">
            {% if user.profile.twitch_url %}
                <a id="twitch" class="user_links" href="{{user.profile.twitch_url}}"><i class="fab fa-twitch">|</i></a>
            {% endif %}
            {% if user.profile.twitch_url %}
                <a id="youtube" class="user_links" href="{{user.profile.youtube_url}}"><i class="fab fa-youtube"></i>|</a>
            {% endif %}
        </div>
        <h1 id="bio" >{{user.profile.bio}}</h1>
        
{% for img in photos %}
<div class="picture_cards">
    
    <a href="{% url 'delete_picture' img.pk %}" class="button is-danger">
        <span class="icon">
            <i class="fas fa-trash-alt"></i>
        </span>
    </a>
    
    
    <img id="modal_image" src="{{img.img}}" alt="{{artist.name}}" />


    <!-- The Modal -->

    <div id="myModal" class="modal">
    <span class="close">&times;</span>
    <img class="modal-content" id="img01">
    <div id="caption"></div>
    </div>
</div>


{% endfor %} 
        <a id="add_photo" class="button is-dark" href="{% url 'add_picture' %}">+</a>

        
    </div>
</div>
<div style="float: right; width: 70%" class="matchmaking_card">
    <div class="match_card_image">
        <!-- <img src="https://pbs.twimg.com/media/DEpizzwUMAA9ws3.jpg" alt="stock gamer girl"> -->
    </div>
</div>



{% endblock %}